.timer-container {
    .timer-values {
        display: flex;
        gap: 16px;

        .timer-value {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}