.constructors-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;

    .constructor-title {
        text-align: center;

    }

    .constructors-list-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        gap: 16px;

        .constructor-card {
            background-color: #fff;
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
            padding: 16px;
            text-align: center;
            align-items: center;
            transition: all 0.3s ease;
            display: flex;
            justify-content: space-between;
            gap: 8px;
        }
    }
}

@media (max-width: 768px) {
    .constructors-container {
        .constructors-list-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 480px) {
    .constructors-container {
        .constructors-list-grid {
            grid-template-columns: 1fr;
        }
    }
}